html, body, #map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#777;
    line-height:18px;
    width:100%;
    height: 100%;
    height:calc(100% - 0px);
}

input[type=text]{
    padding:0.5em;
    width:20em;
}

input[type=submit]{
    padding:0.4em;
}
.row {
	height:100%;
}

#map-canvas {
    width:100%;
    height: 100%;
    height:calc(100% - 0px);
}

#map_canvas img {
    max-width: none !important;
}

#map-label{
    margin:1em 0;
}

#input-address{
    top: 20% !important;
    right: 88px !important;
    left: 80% !important;
    width: 300px !important;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 13px;
    height: 32px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    
}

.body-ajax-loading::before {
    content: url('../img/ajax-loader.gif');
    padding-top: 18%;
    position: absolute;
    z-index: 20000;
    left:50%;
}
.body-ajax-loading:hover {
   cursor: wait !important;
 }

 #history-container{
    background: url(../img/pattern-avwj.png);
    -webkit-box-shadow: 2px 0px 12px -1px rgba(0,0,0,0.69);
    -moz-box-shadow: 2px 0px 12px -1px rgba(0,0,0,0.69);
    box-shadow: 2px 0px 12px -1px rgba(0,0,0,0.69);
    padding:15px;
    height: 100%;
    color:#1cff94;
    position:relative;
 }

 #history-container hr {
    border-top: 1px solid #6E6E6E;
 }

 .list-group-item{
 	color:#333;
 }

 .txt-color-white {
 	color:#fcfcfc;
 }

 .info-box{
    bottom: 0;
    padding: 10px;
    position: absolute;
    width: 90%;
 }

 .footer{
 	background: url(../img/pattern-avwj.png);
 	color:#777;
	text-align: center; 
 }

 #footer-container{

 }